{% extends 'main/layout.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% block content %}
	<div class="panel panel-primary">
		{{ lm.panel_header(_context, title) }}
	  	<div class="panel-body">
	  	    {% for link in links %}
	  	        <div class="link flex mb-3">
	  	            {% if link.image_url %}
	  	                <a href="{{ link.url }}"><img src="{{ link.image_url }}" class="link__image mt-1 mr-3" /></a>
	  	            {% endif %}
	  	            <div class="link__text">
	  	                <a href="{{ link.url }}">{{ link.url }}</a>
    	  	            {% if link.description %}
    	  	                <div class="link__description">
    	  	                    {{ link.description }}
    	  	                </div>
    	  	            {% endif %}
	  	            </div>
	  	        </div>
	  	    {% endfor %}
			{% include 'components/paging.twig' with { 'paging': paging } %}
	    </div>
	</div>
{% endblock %}
